{% extends "event/base.html" %}

{% block head_extends %}
<script>
    const registrationOpenDate = new Date("{{ localtime(registration_open_date).strftime('%b %-d, %Y, %H:%M:%S') }}");
    const registrationCloseDate = new Date("{{ localtime(registration_close_date).strftime('%b %-d, %Y, %H:%M:%S') }}");
    const eventStartDate = new Date("{{ localtime(event_start_date).strftime('%b %-d, %Y, %H:%M:%S') }}");
</script>
{% endblock %}

{% block nav_logo %}logoNav{% endblock %} 
{% block nav_background_color %}{% endblock %}

{% block nav_links %}
    <li><a href="#about">About</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="#sponsors">Sponsors</a></li>
    <li><a href="#contact">Contact</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{{ url("event:dashboard") }}">Dashboard</a></li>
    {% endif %}
{% endblock %}

{% block body %}
<div class="ombreBackgroundLight">
    <div class="section purpleLanding" id="landing">
        <div class="container">
            <br /><br />
            <h1 class="header white-text">NewHacks</h1>
            <div class="row">
                <h4 class="header s12 white-text longText">
                    24 Hour Beginner Friendly Digital Hackathon
                </h4>
            </div>
            <div class="row">
                <h5 class="white-text">University of Toronto</h5>
                <h5 class="white-text">
                    {# Update this logic if your event ends in a different month or year #}
                    {{ localtime(event_start_date).strftime("%B %-d") }}-{{ localtime(event_end_date).strftime("%-d, %Y") }}
                </h5>
            </div>
            <div class="row">
                {% if request.user.is_authenticated %}
                    {% if application is none and registration_open %}
                        <a href="{{ url("registration:application") }}" class="btn-large waves-effect waves-light colorBtn">Continue Application</a>
                    {% else %}
                        <a href="{{ url("event:dashboard") }}" class="btn-large waves-effect waves-light colorBtn">Go to Dashboard</a>
                    {% endif %}
                {% elif registration_open %}
                    <span style="color: red">Open for testing only - your application will be discarded</span> <br />
                    <a href="{{ url("registration:signup") }}" class="btn-large waves-effect waves-light colorBtn">Apply</a>
                {% endif %}
            </div>
            <br /><br />
        </div>
    </div>

    <div class="container">
        <div class="section scrollspy" id="about">
            <div class="row">
                <div class="col m12 l7 aboutText">
                    <h3 class="center white-text">About us</h3>

                    <p class="center white-text">
                        Join us at NewHacks to transform your ideas into reality! In this 24-hour event, you and your team will make a project from scratch using software and present your project to a panel of industry
                        judges to compete for prizes. This year, the theme for NewHacks is
                        <span class="lightText"><strong>digital education</strong></span> and <span class="lightText"><strong>life convenience</strong></span> - so be creative with software solutions to improve online learning or quality of life!
                    </p>
                    <p class="center white-text">
                        Our hackathon is specifically for participants with little to no hacking experience. This year, for the first time we will be opening up applications to high school students! To help facilitate
                        your learning experience, we will host online workshops throughout the event featuring speakers from some of the top companies in the industry. We can't wait to see your creations!
                    </p>
                </div>

                <div class="col m12 l5 flexColCenter">
                    <h3 class="center white-text">Registration Opens In</h3>
                    <div class="countdown">
                        <div class="col countdownNum secondaryColor">
                            <div class="countdownWhiteLine"></div>
                            <p id="day1"></p>
                        </div>
                        <div class="col countdownNum secondaryColor">
                            <div class="countdownWhiteLine"></div>
                            <p id="day2"></p>
                        </div>
                        <div class="col countdownNum secondaryColor">
                            <div class="countdownWhiteLine"></div>
                            <p id="day3"></p>
                        </div>
                    </div>
                    <div class="col white-text center countdownDays">Days</div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <img class="skylineImg" src="{{ static('event/images/skyline.svg') }}" alt="skyline" />
</div>

<div class="ombreBackgroundDark1">
    <div class="container">
        <div class="section scrollspy" id="schedule">
            <div class="row schedule">
                <div class="m12 center">
                    <h3 class="center white-text">Schedule</h3>
                </div>
                <div class="col s12 m7 l6">
                    <h4 class="center white-text">Saturday</h4>

                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">9AM</p>
                        <p class="white-text">Participant Registration</p>
                    </div>
                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">10AM</p>
                        <p class="white-text">Opening Ceremonies</p>
                    </div>
                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">11AM</p>
                        <p class="white-text">
                            <strong>Hacking Begins</strong>
                        </p>
                    </div>
                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">Various</p>
                        <p class="white-text">Workshops & Activities</p>
                    </div>
                </div>

                <div class="col s12 m5 l6">
                    <h4 class="center white-text">Sunday</h4>

                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">11AM</p>
                        <p class="white-text"><strong>Hacking Ends!</strong></p>
                    </div>
                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">12PM</p>
                        <p class="white-text">Judging</p>
                    </div>
                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">3PM</p>
                        <p class="white-text">Closing Ceremonies</p>
                    </div>
                    <div class="scheduleRow">
                        <p class="lightText scheduleTime">4PM</p>
                        <p class="white-text">End</p>
                    </div>
                </div>
            </div>
            <div class="m12 center">
                <a class="btn-large waves-effect waves-light colorBtn" href="https://docs.google.com/document/d/1GsO-_1kFvk8m-WwIaD0KLDOjXDv6_VPRYDwzx8T5PAI/edit?usp=sharing" rel="noopener" target="_blank">Full schedule</a>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <div class="section scrollspy" id="faq">
            <div class="row">
                <div class="col s12 m12 center">
                    <h3 class="center white-text">FAQ</h3>
                </div>
                <div class="col s12 m6">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                What is a hackathon?
                            </div>
                            <div class="collapsible-body">
                                <span>A hackathon is a big bonanza where people come together to create projects together with the newest and most exciting tech.</span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                How much does it cost?
                            </div>
                            <div class="collapsible-body">
                                <span>$0! IEEE UofT is a student club that aims to provide students accessible technical events.</span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                When can I expect to hear back after I applied?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    There will be 2 rounds of acceptances. If you applied early, you might get an email on the weekend of Oct 10th/11th. If you still haven’t gotten any replies by then, don’t worry! We
                                    will be sending out a second round of acceptances on the weekend of Oct 24th/25th.
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col s12 m6">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                Who can apply? What if I have no experience?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    Applicants that are currently in either highschool or university are welcomed to apply! We are a beginner friendly hackathon, so no hackathon experience is needed to participate! We
                                    are all here to learn :)
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                What equipment and support will be provided?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    Unfortunately, due to the current situation of COVID19, we won’t be able to provide any hardware. However, there will be lots of mentors ready to help you! During the online
                                    hackathon, there will be a breakout room for all the mentors where you will be able to access at all times and get immediate help.
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                How do online hackathons work?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    The entire hackathon will be conducted online. You will be able to stay safe and comfortably at home while doing this hackathon. You will be able to communicate to your team via
                                    online meetings and you will be submitting your final products online.
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
</div>
<div class="ombreBackgroundDark2">
    <div class="container section scrollspy" id="sponsors">
        <div class="row">
            <h3 class="center white-text">Sponsors</h3>
            <div class="row sponsorImgs">
                <!-- Platinum -->
                <a href="https://www.mathworks.com/" class="col m6 s12" rel="noopener" target="_blank"><img src="{{ static('event/images/sponsors/Mathworks_white.svg') }}" alt="Mathworks" /></a>
                <a href="https://www.daisyintelligence.com/" class="col m6 s12" rel="noopener" target="_blank"><img src="{{ static('event/images/sponsors/Daisy_Intelligence_white.svg') }}" alt="Daisy Intelligence"/></a>

                <!-- Gold -->
                <!-- Rotman -->
                <a href="https://www.rotman.utoronto.ca/" class="col m4 s6 offset-m2 offset-s1" rel="noopener" target="_blank"><img src="{{ static('event/images/sponsors/Rotman_white.svg') }}" alt="Rotman School of Management" /></a>

                <!-- Silver -->
                <a href="https://www.analog.com/" class="col m3 s4" rel="noopener" target="_blank"><img src="{{ static('event/images/sponsors/Analog_Devices_white.svg') }}" alt="Analog Devices" /></a>

                <!-- Bronze -->

                <!-- Partners -->
                <a href="https://www.ecobee.com/en-ca/" class="col m2 s3 offset-m3 offset-s1" rel="noopener" target="_blank"><img src="{{ static('event/images/sponsors/ecobee_white.svg') }}" alt="ecobee" /></a>
                <a href="https://www.amd.com/" class="col m2 s3" rel="noopener" target="_blank"><img src="{{ static('event/images/sponsors/AMD_white.svg') }}" alt="AMD" /></a>

                <!-- TBD -->
                <a href="https://www.huawei.com/ca/" class="col m2 s3" rel="noopener" target="_blank"><img src="{{ static('event/images/sponsors/Huawei_white.svg') }}" alt="Huawei" /></a>
            </div>
            <p class="center white-text">
                If you'd like to sponsor us, feel free to reach out:
                <a href="mailto:newhacks@ieee.utoronto.ca" class="hoverLink lightText">newhacks@ieee.utoronto.ca</a>
            </p>
        </div>
    </div>
    <div class="container section">
        <div class="s12 m8 flexColCenter">
            <h3 class="center white-text">Check out last year!</h3>
            <iframe class="video center" src="https://www.youtube.com/embed/Vfi3pRkoyOI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <br /><br />
</div>
<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://i.imgur.com/leuHG62.jpg" alt="2019-image-1" /></a>
    <a class="carousel-item" href="#two!"><img src="https://i.imgur.com/N3Q8dbL.jpg" alt="2019-image-2" /></a>
    <a class="carousel-item" href="#three!"><img src="https://i.imgur.com/DghK123.jpg" alt="2019-image-3" /></a>
    <a class="carousel-item" href="#four!"><img src="https://i.imgur.com/xdpCVHP.jpg" alt="2019-image-4" /></a>
    <a class="carousel-item" href="#five!"><img src="https://i.imgur.com/sB0BQl3.jpg" alt="2019-image-5" /></a>
    <a class="carousel-item" href="#six!"><img src="https://i.imgur.com/YrS6y1i.jpg" alt="2019-image-6" /></a>
    <a class="carousel-item" href="#seven!"><img src="https://i.imgur.com/CINCqvW.jpg" alt="2019-image-7" /></a>
    <a class="carousel-item" href="#eight!"><img src="https://i.imgur.com/Dhok4x6.jpg" alt="2019-image-8" /></a>
    <a class="carousel-item" href="#nine!"><img src="https://i.imgur.com/9lxQVBA.jpg" alt="2019-image-9" /></a>
    <a class="carousel-item" href="#ten!"><img src="https://i.imgur.com/n9ex97x.jpg" alt="2019-image-10" /></a>
</div>
<footer class="page-footer secondaryColor darkText">
    <div class="container scrollspy" id="contact">
        <h3 class="row center">Contact Us</h3>

        <div class="row center contactBtns">
            <a href="mailto:{{ contact_email }}" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/email.svg') }}" alt="Email" /></a>
            <a href="https://www.ieee.utoronto.ca" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/website.svg') }}" alt="ieee.utoronto.ca" /></a>
            <a href="https://www.facebook.com/ieeeuoft" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/facebook.svg') }}" alt="Facebook" /></a>
            <a href="https://www.instagram.com/ieee_uoft" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/instagram.svg') }}" alt="Instagram" /></a>
        </div>

        <p class="center">Need a platform for your hackathon? We're <a class="hoverLink primaryText" href="https://github.com/ieeeuoft/hackathon-template/" rel="noopener" target="_blank">open source</a>!</p>
    </div>
    <div class="footer-copyright center darkText">
        <div class="container darkText">
            Copyright © {% if localtime(event_end_date).year > 2020 %}2020-{% endif %}
            {{ localtime(event_end_date).strftime("%Y") }} IEEE University of Toronto Student Branch
        </div>
    </div>
</footer>
{% endblock %}

{% block scripts %}
<script src="{{ static('event/js/landing.js') }}"></script>
{% endblock %}
